@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');


:root {
    --bg-primary:    #0A0A0A;
    --bg-card:       #1A1A1A;
    --bg-surface:    #222222;
    --border:        #2E2E2E;

    --red-dark:      #B20000;
    --red-main:      #CC0000;
    --red-hover:     #E62222;
    --red-light:     #FF4444;

    --text-primary:  #FFFFFF;
    --text-secondary:#CCCCCC;
    --text-muted:    #888888;

    --font-portfolio: 'Bitcount Grid Double', sans-serif;

}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%;
}

h1 {
    color: var(--text-primary);
}
h2 {
    color: var(--text-primary);
}
h3 {
    color: var(--text-primary);
}
h4 {
    color: var(--text-primary);
}
p {
    color: var(--text-secondary);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
    background-color: var(--bg-primary);
}

header > * {
    margin: 1%;
}

header > span {
    color: var(--red-dark);
    font-family: var(--font-portfolio);
    font-size: xx-large;
}

header > nav {
    display: flex;
    gap: 0.5rem;
}

header > nav > button {
    background-color: #FFFFFF00;
    border-radius: 4px;
    border: 1px solid var(--red-main);
    padding: 8px 16px;
    cursor: pointer;
    color: white;
}

header > nav > button:hover {
    background-color: var(--red-hover);
}

body {
    background-color: var(--bg-surface);
}

main {
    padding: 1%;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid gainsboro;
    padding: 8px 12px;
}